#!/bin/bash
#SBATCH -J ar.0.1.test
#SBATCH -N 16
#SBATCH -t 6:00:00
#SBATCH -n 16
#SBATCH --mail-user=me@fake.com
#SBATCH --mail-type=all
#SBATCH -A testaccount

echo "JobID: $SLURM_JOB_ID"
echo "NodeList: $SLURM_NODELIST"
cd $SLURM_SUBMIT_DIR

PPN=1
NODES=16
THREADS=16
export AMBERHOME=amberhome
source $AMBERHOME/amber.sh
export EXEPATH=amberhome/bin/cpptraj
ls -l $EXEPATH
export MPIRUN="mpiexec -n $THREADS"

# Run script
./RunArchive.0.1.sh
exit $?
